/* globals */
* {
    padding: 0;
    margin: 0;
    user-select: none;
}
.container {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
.invisible {
    display: none !important;
}

/* control panel */
.controls {
    width: 20vw;
    height: 100vw;
    background-color: lightgrey;
    padding: 10px;
    display: flex;
    flex-direction: column;
}
.controls > h3 {
    font-family: sans-serif;
}
.controls > hr {
    margin: 10px;
}
.controls button {
    padding-inline: 5px;
    margin-bottom: 8px;
}


/* modal */
.modal {
    position: absolute;
    z-index: 100;
    top: -1000px;
    background-color: rgb(242, 242, 242);
}
.modal-bar {
    display: flex;
    align-items: center;
    justify-content: end;
    height: 25px;
    width: calc(100% - 8px);
    background-color: rgb(225, 225, 225);
    padding-right: 8px;
}
.modal-content {
    width: 100%;
    height: 90%;
    padding: 10px;
}
.modal h3 {
    margin-bottom: 10px;
    font-family: sans-serif;
}
.label-modal {
    width: 300px;
    height: 100px;
}
.style-modal {
    width: 500px;
    height: 300px;
}
.style-content {
    display: grid;
    grid-template-columns: 30% 70%;
    /* multiplied by the number of options to prevent overflow, 5px because of padding + border */
    height: calc(100% - 5px * 5);
}
.style-nav {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-right: 1px lightgray solid;
}
.style-category {
    width: calc(100%);
    background-color: rgb(242, 242, 242);
    border-bottom: 1px lightgray solid;
}
.style-category > p {
    line-height: calc(1rem + 12px);
    padding-left: 10px;
}
.style-category:hover {
    transition: 150ms;
    background-color: rgb(225, 225, 225);
}
.style-controls {
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
}
.control-group {
    margin-bottom: 10px;
    width: 100%;
}
.color-buttons {
    width: 100%;
    height: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.color-button {
    width: 30px;
    height: 20px;
    border: rgb(150, 150, 150) 1px solid;
    border-radius: 4px;
}
.color-button:hover {
    transition: 150ms;
    opacity: 0.5;
}
.submission-buttons {
    display: flex;
    flex-direction: row;
    justify-content: right;
    margin-top: 20px;
}

/* context menus */
.context {
    position: absolute;
    z-index: 99;
    top: -1000px;
    background-color: rgb(242, 242, 242);
    border: lightgray 1px solid;
    border-radius: 5px;
}
.context-option {
    padding-left: 8px;
    padding-right: 8px;
    padding-block: 2px;
}
.context-option:hover {
    transition: 150ms;
    background-color: rgb(225, 225, 225);
}


/* utility/functional */
.cy {
    width: 80vw;
    height: 100vh;
}